body{
  background: #e1e4e9;
  overflow-x: hidden;
}
.editTwo .container-fluid{
  padding: 0;
}

.editTwo .header{
  position: relative;
  z-index: 1;
  height: 112px;
  border-bottom: 6px solid #eaeced !important;
  background: linear-gradient(to bottom,  #f6f6f6 0%,#c6cdd2 100%);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.editTwo .logo{
  margin-top: 20px;
  width: 304px;
}
.editTwo .logOut{
  display: flex;
  font-weight: bold;
  color: #777;
  margin-top: 10px;
}
.editTwo .logOut p::before{
  content: '';
  display: block;
  background-color: #62affa;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  top: 18px;
  left: -15px;
}
.editTwo .logOut p:hover{
  cursor: pointer;
  color: #62affa;
}

.editTwo .banerImg{
  width: 100%;
}

.editTwo .white{
  padding-bottom: 60px;
  position: relative;
  background: #F5F5F5;
  box-shadow: 0 61px 18px 8px #DBDBDB;
  margin-top: -55px;
  margin-bottom: 50px;
}

.editTwo .graysh{
  padding: 10px;
  border-radius: 3px;
  border: 3px solid #dddddd;
  background-color: #7d8ea7;
  /* flex-direction: column;
  align-items: center; */
}

.editTwo .stepOne{
  line-height: 48px;
  font-weight: bold;
  font-family: Tahoma;
  display: inline-block;
  font-size: 38px;
  padding-left: 15px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.editTwo .stepOne span{
  font-size: 23px !important;
  color: #fde65a;
}

.editTwo .nextStep{
  transition: 0.3s;
  border: solid 1px #d8c4b3;
  background: #fdb678;
  background: linear-gradient(to bottom, #fc9149 0%, #d24b06 100%);
  border-radius: 25px;
  height: 28px;
  box-shadow: 1px 1px 2px 0 #465A74;
  box-shadow: 0 0 0 0 #465A74 \0/;
  border-radius: 0 \0/;
  font-family: Tahoma;
  font-size: 14px;
  margin-top: 8px;
  padding: 0 20px;
  font-weight: bold;
  color: #ffffff;
}

.editTwo .nextStep:hover{
  filter: brightness(120%);
  /* background: linear-gradient(to bottom, #fdb678 0%, #e37a1a 100%) */
}

.editTwo .campingStatusBox{
  padding-top: 30px;
}

.editTwo .runinLine{
  position: relative;
  margin-top: 10px;
  background-image: url('../images/runLine.jpg');
  background-size: 100% 100%;
  height: 41px;
  /* width: 320px; */
  border: 9px solid #222322;
  outline: 3px solid #d5d5d5;
  border-radius: 3px;
}

.editTwo .campingStatusBox h3 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    color: #697c97;
    font-weight: bold;
    margin: 0;
    font-size: 16px;
}
.editTwo .campingStatusBox h3 a:nth-child(1){
  color: #28a7fb;
}
.editTwo .campingStatusBox h3 a:nth-child(2){
  color: #dd9700
}

.editTwo .editCampingP a:nth-child(1) {
    text-decoration: none;
    color: #0099ff;
    float: right;
}

.editTwo .leftImg{
  border-radius: 3px;
  box-shadow: 0 0 1px #5e5e5e;
  width: 100%;
  margin-bottom: 20px;
}
.editTwo .leftImg:hover{
  cursor: pointer;
}

.editTwo .ourGoal{
  font-size: 18px;
  font-family: "Arial";
}

.editTwo .strongOne{
  color: #FFA500;
  font-size: 14px;
  margin-top: 20px;
  font-family: "Arial";
}

.editTwo .headCoach{
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Arial';
  /* color: #777777; */
}

.editTwo .coachLiz{
  color: #FF0000;
  font-size: 14px;
  margin-top: 20px;
  font-family: "Arial";
}

.editTwo .clickHere{
  transition: 0.3s;
}

.editTwo .clickHere:hover{
  cursor: pointer;
  filter: brightness(120%);
}

.editTwo .footer{
  position: relative;
  z-index: 1;
  border-top: 4px solid #ffffff;
  background: #586476;
}

.editTwo .footer a{
  color: #c6c6c6;
  font-size: 12px;
}
.editTwo .footer a:hover{
  text-decoration: underline;
}
.editTwo .footerContent{
  padding: 35px 5px 15px 5px;
}

.editTwo .number{
  font-size: 24px !important;
}




@media (max-width:768px){
  .editTwo .white{
    margin-top: 0px;
  }
}
